body {
  background-image:url('../images/fondo-crema3.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.barra-menu{
	background: linear-gradient(#2EFEF7,black);
}
.nav-link{
	font-family: Impact, Charcoal, sans-serif;
	 -webkit-background-clip: text;
}

.barra-destacados{
	background-color: black;
	margin-top: 30px;
}

.text-analisis{
	font-size: 20px;
	color: white;
}
.text-videos{
	font-size: 20px;
	color: white;
	text-align: center;
}
.text-destacados{
	font-size: 20px;
	color: white;
}

.text-imagen-superior{
	position: absolute;
	font-size: 20px;
	color: white;
	margin-top: -200px;
	margin-left: 600px;
	
}

.text-imagen-izquierda{
	position: absolute;
	font-size: 20px;
	color: white;
	margin-top: -200px;
	margin-left: 10px;

	
}

.fornite{
	text-align: justify;
	color: black;
}

.card{
	background-color: white;
	margin-left: 80px;
}
	
h5{
	color: black;
}

.text-videojuegos{
	font-size: 20px;
	color: white;
	text-align: center;
}
.text-noticias{
	font-size: 20px;
	color: white;
}
#color{
	color: white;
}

#color:hover{
	color:black;
}

#sombra-3d{
		width: 1155px;
		height: 500px;
		margin:0 auto;
		margin-top: 1%;
		padding:25px;
		background-color: black;
}
#sombra-3d:hover{
	
	box-shadow:
		13px 13px black,
		14px 14px black,
		15px 15px black;
	-webkit-transform: translateX(10px);
	transform: translateX(10px);

	border: 8px double white;
	
		filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);

	object-fit:cover;
}

#style{
	height: 200px;
	width: 870px;
	margin-top: 15px;
	object-fit:cover;
}

#style2{
	height: 200px;
	width: 410px;
	margin-top: 10px;
	object-fit:cover;
	
}

#style3{
	height: 200px;
	width: 870px;
	margin-top: 60px;
	object-fit:cover;
	
}


.texto-centro{
	
	color: white;
	text-align: center;
	font-size: 20px;
}
.videos{
	width: 285px;
	height: 180px;
	border: 6px solid white;
	margin-top: 15px;
}


.table{
	margin-top: 20px;
	color: white;
	border: 6px solid white;

}

#twich{
	margin-top: 10px;
}

#destiny{
	margin-top: -90px;
}

#barra-footer{
	background-color: black;
	margin-top: 30px;
}

li{
	color: white;
}

#footer-form{
	margin-top: 180px;
}

#formulario-color{
	background-color: white;
	
}

#formulario-acceder{
	width: 480px;
	height: 280px;
	margin-top: 80px;
}

